.Navigation {
  display: flex;
  justify-content: space-between;
  background-color: lightskyblue;
  padding: 0.75rem;
  
  .page-nav {
    display: flex;
    gap: 1.5rem;
  }

  .user-nav {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
  }

  .link:hover {
    cursor: pointer;
  }

  p {
    margin: 0;
  }
}