.Search {
  margin-left: 50px;
  margin-top: 15px;
}

.search-box {
  display: flex;
  justify-content: center;
}

input {
  width: 400px;
  height: 3rem;
  border-radius: 25px;
  font-size: 1.5rem;
  padding: 0 1rem;
  padding: 0 1rem 0 3rem;
  text-align: center;
  border-style: solid;
  margin-bottom: 0.25rem;
  border-bottom: none;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  outline: none;
  text-indent: -2.5rem;
}

button {
  height: 50px;
  width: 100px;
  display: none;
}

.fa-magnifying-glass {
  position: relative;
  left: 2.5rem;
}

form {
  position: relative;
  left: -2.5rem;
}