.Navigation {
  display: flex;
  justify-content: space-between;
  margin: 30px 0;
}

.PopularResorts {
  display: flex;
  justify-content: flex-start;

  .Resort {
    p {
      margin: 0;
    }
  }
}
